@model Teamkeep.Models.ViewModels.AvailabilityLandingViewModel
@{
    ViewBag.App = "teamkeep-public";
    ViewBag.Title = @Model.Title;
    ViewBag.UseHeaderFooter = true;
    Layout = "~/Views/Shared/Master.cshtml";
}

@if (Model.AvailabilityRequest != null) 
{
    <script>
        var viewData = @Html.Raw(Json.Encode(Model));
    </script>
       
    var abEvent = Model.AvailabilityRequest.Event;
    var opponentName = abEvent.OpponentName ?? "[To Be Determined]";
    var where = abEvent.Where ?? "To Be Determined";
    
    <div class="buffered container" ng-controller="AvailabilityLandingController">  
        <div class="row">
            <div class="col-md-12">
                <h1>@Model.AvailabilityRequest.TeamName vs. @opponentName</h1>
            </div>
            <div class="col-md-4">
                
                <!--
                TODO: ensure this is the right user by requring their email here
                <li>
                    <label>Email</label>
                    <input type="text" />
                </li>
                -->

                <div class="form-group">
                    <label>When</label>
                    <div class="form-control">
                        @abEvent.When
                    </div>
                </div>
                
                <div class="form-group">
                    <label>Where</label>
                    <div class="form-control">
                        @where
                    </div>
                </div>
                
                @if (abEvent.Location != null && !string.IsNullOrWhiteSpace(abEvent.Location.InternalLocation))
                {
                    <div class="form-group">
                        <label>Arena</label>
                        <div class="form-control">
                            @abEvent.Location.InternalLocation
                        </div>
                    </div>
                }

                <div class="btn-group">
                    <button class="btn btn-large" 
                            ng-class="{ 'btn-success': ab.selected, 'btn-default': !ab.selected }" 
                            ng-click="selectAvailability(ab)" 
                            ng-repeat="ab in availabilities">
                        {{ab.text}}
                    </button>
                </div>
    
            </div>
        </div>
    </div>
}
else
{
    <div class="container">
        <div class="buffered row">
            <div class="col-md-12">
                <h1>Event not found</h1>
                <p>
                    The event you've requested could not be found.
                </p>
            </div>
        </div>
    </div>
}