<!DOCTYPE html>
<html ng-app="teamkeep">
    <head>
        <title>@ViewBag.Title | Teamkeep</title>
        @Html.Partial("Includes")
    </head>
    <body>
        <script>
            var viewData = @Html.Raw(Json.Encode(Model));
        </script>
        
        <div id="header">
            @Html.Partial("Header")    
        </div>
        @if (ViewBag.TeamHeader != null && ViewBag.TeamHeader)
        {
            @Html.Partial("~/Views/Team/TeamHeader.cshtml")
        }
        
        @RenderBody()   
        @Html.Partial("Footer")
        @Html.Partial("Alerts")
        
    </body>
</html>