<!DOCTYPE html>
<html>
    <head>
        <title>@ViewBag.Title | Team Keep</title>
        @Html.Partial("Includes")
    </head>
    <body>
        <script>
            var viewData = @Html.Raw(Json.Encode(Model));
        </script>
        
        <div id="header">
            @Html.Partial("Header")    
        </div>
        
        @RenderBody()   
        @Html.Partial("Footer")
        
        <div id="message-modal" class="modal hide fade">
            <div class="alert alert-error">
                <span>Error</span>
            </div>
        </div>
        <script>
            window.alertTimeout = null;
            window.ShowAlert = function(message) {
                if (window.alertTimeout != null) {
                    clearTimeout(window.alertTimeout);
                }
                $("#message-modal .alert-error span").html(message);
                $("#message-modal").modal({ backdrop: false }).modal("show");
                window.alertTimeout = setTimeout(function() {
                    $("#message-modal").modal("hide");
                    window.alertTimeout = null;
                }, 3000);
            };
        </script>
        
    </body>
</html>