<!DOCTYPE html>
<html>
    <head>
        <title>@ViewBag.Title | Team Keep</title>
        <meta name="description" content="@ViewBag.Description"/>
        @Html.Partial("Includes")
    </head>
    <body>
        <div class="container">
            <div id="front-header" class="row">
                <div class="span6">
                    <img src="/img/logo.png" alt="Team Keep" />
                </div>
                <div class="span6">
                    <ul class="nav nav-pills pull-right">
                        <li><a href="/">Home</a></li>
                        <li><a href="/features">Features</a></li>
                        <li><a href="/about">About</a></li>
                        <li><a href="http://teamkeep.tumblr.com">Blog</a></li>
                        <li>
                            <button id="register-button" class="btn btn-info" data-toggle="modal" data-target="#register-modal">Create an account</button>    
                        </li>
                    </ul>
                </div>
            </div>
            @RenderBody()   
            @Html.Partial("Footer")
        </div>
    </body>
</html>