<!DOCTYPE html>
<html>
    <head>
        <title>@ViewBag.Title | Team Keep</title>
        <meta name="description" content="@ViewBag.Description"/>
        @Html.Partial("Includes")
    </head>
    <body>
        <div class="container">
            @Html.Partial("PublicHeader")
            @RenderBody()   
            @Html.Partial("Footer")
        </div>
    </body>
</html>