<!DOCTYPE html>
<html>
    <head>
        <title>@ViewBag.Title | Teamkeep</title>
        <meta name="description" content="@ViewBag.Description"/>
        @Html.Partial("Includes")
        @Html.Partial("~/Views/Public/FacebookLogin.cshtml")
    </head>
    <body>
        <div class="container">
            @Html.Partial("~/Views/Public/PublicHeader.cshtml")
            @RenderBody()   
            @Html.Partial("Footer")
        </div>
    </body>
</html>